!README.md

# Dev-Env data folders
mirth-channel-config/dev-env/appdata
mirth-channel-config/dev-env/custom-ext
mirth-channel-config/dev-env/custom-lib
mirth-channel-config/dev-env/data-dbpg
mirth-channel-config/dev-env/data-mcpg
mirth-channel-config/dev-env/doc
mirth-channel-config/dev-env/interop
mirth-channel-config/dev-env/xml

# Gradle / Kotlin
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
codecov/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.DS_Store
